# .gitignore

# Node modules
**/node_modules/

# Logs
*.log

# Environment files
**/.env.local
**/.env.production.local
**/.env.test
**/.env*

# Build outputs
frontend/build/
backend/dist/

# Other system files
.DS_Store